doctype html
html(lang="en" data-theme="light")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            block title
        link(rel="icon" type="image/png" href="/iso/images/logo-icon-iso.png" sizes="16x16")
        link(rel="stylesheet" href="/assets/css/remixicon.css")
        link(rel="stylesheet" href="/assets/css/lib/bootstrap.min.css")
        <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css">
        link(rel="stylesheet" href="/assets/css/style.css")

        block csslink
        block cssstyle
    body
        aside.sidebar
            button.sidebar-close-btn(type="button")
                iconify-icon(icon="radix-icons:cross-2")
            div
                a.sidebar-logo(href="index.html")
                    img.light-logo(src="/orbit/images/logo-iso.png" alt="site logo")
                    img.dark-logo(src="/orbit/images/logo-iso.png" alt="site logo")
                    img.logo-icon(src="/orbit/images/logo-icon-iso.png" alt="site logo")
            div.sidebar-menu-area
                ul.sidebar-menu#sidebar-menu
                    li(class='dropdown open')
                        a(href="javascript:void(0)")
                            iconify-icon(icon="solar:home-smile-angle-outline" class="menu-icon")
                            span Transaksi
                        ul(class='sidebar-submenu')
                            li(class='active-page') 
                                a(href="/transaksi/awb/form" class='active-page')
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Inputan AWB
                            li() 
                                a(href="/transaksi/awb" )
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Daftar AWB
                    li(class='dropdown')
                        a(href="javascript:void(0)")
                            iconify-icon(icon="solar:database-outline" class="menu-icon")
                            span Master
                        ul(class='sidebar-submenu')
                            li() 
                                a(href="/master/groupcustomer")
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Group Customer
                            li() 
                                a(href="/master/customer" )
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Customer
                            li() 
                                a(href="/master/service" )
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Service
                            li() 
                                a(href="/master/tlc" )
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | TLC
                            li() 
                                a(href="/master/payment" )
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Payment

                            li() 
                                a(href="/master/package" )
                                    i(class="ri-circle-fill circle-icon text-primary-600 w-auto")
                                    | Package
        main.dashboard-main
            .navbar-header
                .row.align-items-center.justify-content-between
                    .col-auto
                        .d-flex.flex-wrap.align-items-center.gap-4
                            button.sidebar-toggle(type="button")
                                iconify-icon.icon.text-2xl.non-active(icon="heroicons:bars-3-solid")
                                iconify-icon.icon.text-2xl.active(icon="iconoir:arrow-right")
                            button.sidebar-mobile-toggle(type="button")
                                iconify-icon.icon(icon="heroicons:bars-3-solid")
                            form.navbar-search
                                input(type="text" name="search" placeholder="Search")
                                iconify-icon.icon(icon="ion:search-outline")
                    .col-auto
                        .d-flex.flex-wrap.align-items-center.gap-3
                            div.dropdown
                                button.d-flex.justify-content-center.align-items-center.rounded-circle(
                                    type="button",
                                    data-bs-toggle="dropdown"
                                )
                                    img.w-40-px.h-40-px.object-fit-cover.rounded-circle(
                                        src= '/orbit/images/noimages.jpg'
                                        alt="image"
                                    )
                                div.dropdown-menu.to-top.dropdown-menu-sm
                                    div.py-12.px-16.radius-8.bg-primary-50.mb-16.d-flex.align-items-center.justify-content-between.gap-2
                                        div
                                            h6.text-lg.text-primary-light.fw-semibold.mb-2 Admin
                                            span.text-secondary-light.fw-medium.text-sm Super User
                                        button(type="button" class="hover-text-danger")
                                            iconify-icon.icon(
                                                icon="radix-icons:cross-1",
                                                class="text-xl"
                                            )
                                    ul.to-top-list
                                        li
                                            a.dropdown-item.text-black.px-0.py-8.hover-bg-transparent.hover-text-danger.d-flex.align-items-center.gap-3(href="javascript:void(0)")
                                                iconify-icon.icon(
                                                    icon="lucide:power",
                                                    class="text-xl"
                                                )
                                                | Log Out

            .dashboard-main-body
                block content
    script(src="/assets/js/lib/jquery-3.7.1.min.js") 
    script(src="/assets/js/lib/bootstrap.bundle.min.js") 
    script(src="/assets/js/lib/iconify-icon.min.js") 
    script(src="https://cdn.webix.com/edge/webix.js" type="text/javascript")
    script(src="/assets/js/app.js") 
    block script
    block js